/************************/
/* DEFAULT MODAL */
/************************/

.modal-frame {
  opacity: 0;
  transition: all 0.3s;
  z-index: 1000;
}

.modal-frame.show {
  opacity: 1;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
}

/************************/
/* COMPLETE MODAL */
/************************/
.modal-frame .modal-complete {
  left: 50%;
  top: -500px;
  transform: translate(-50%, -50%);
  transition: all 0.3s;

  position: absolute;
  content: "";
  background-color: #fff;
  /* max-width: 50rem; */
  padding: 4rem;
  border-radius: 12px;
}

.modal-frame.show .modal-complete {
  width: 100%;
  max-width: 50rem;
  top: 50%;
}

.modal-complete {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checked-icon {
  margin-bottom: 3.5rem;
}

.modal-complete h3 {
  font-size: 2.3rem;
}

.modal-complete p {
  font-size: 1.5rem;
  color: #808080;
  line-height: 1.6;
  margin: 2rem 0;
  text-align: center;
}

.modal-complete .btn {
  width: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

/************************/
/* SUPPORT MODAL */
/************************/

/* for scrollbar */
.modal-support {
  overflow: auto;
  /* It needs to show scrollbar */
  height: 80vh;
}

.modal-frame .modal-support {
  left: 50%;
  top: -500px;
  transform: translate(-50%, -50%);
  transition: all 0.3s;

  position: absolute;
  content: "";
  background-color: #fff;
  max-width: 50rem;
  padding: 4rem;
  border-radius: 12px;
}

.modal-frame.show .modal-support {
  max-width: 70rem;
  width: 100%;
  top: 50%;
}

.modal-support {
  display: grid;
  grid-template-columns: 1fr 1.5rem;
  row-gap: 2.5rem;
}

.close-modal-icon {
  grid-column: 2/-1;
  cursor: pointer;
}

.close-modal-icon:hover path {
  fill: #000;
}

.modal-support h3 {
  grid-column: 1 / span 1;
  font-size: 2rem;
}

.modal-support p {
  grid-column: 1 / span 1;
  margin: 2rem 0;
  font-size: 1.5rem;
  color: #808080;
}

/* CARD */
.modal-card {
  grid-column: 1;
  padding: 2rem 3rem;
  border-radius: 12px;
  border: 1px solid #dbdbdb;
}

.modal-card.highlight-borders {
  border: 1px solid #3cb4ac;
}

/* RADIO BUTTON */
.radio-btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-btn-style {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}

.radio-btn-style:hover {
  cursor: pointer;
}

.radio-btn input:disabled + .radio-btn-style:hover {
  cursor: auto;
}

.radio-btn input:checked + .radio-btn-style::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #3cb4ac;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.modal-card .radio-btn {
  margin-right: 2rem;
}

/*END RADIO BUTTON */

/* .modal-card-row {
  display: flex;
  align-items: center;
} */

.modal-card {
  display: grid;
  grid-template-columns: 5rem 2fr 1fr;
  align-items: center;
  font-size: 1.5rem;
}

.modal-card:not(.disabled) .pledge-heading:hover {
  color: #3cb4ac;
  cursor: pointer;
}

.modal-card .pledge {
  margin: 0 2.5rem;
  color: #3cb4ac;
}

.modal-card .pledge-group {
  display: flex;
}

.modal-card .description {
  line-height: 1.6;
  /* margin-left: 5rem; */
  grid-column: 2/-1;
}

.modal-card .right-side {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.right-side .left-number {
  font-weight: 700;
  font-size: 2rem;
  color: #000;
}

.left-number + p {
  margin-left: 1rem;
}

/* .left-number span {
  color: #808080;
  font-weight: 500;
  margin-left: 1rem;
} */

/************************/
/* SCROLLBAR */
/************************/
/* width */
::-webkit-scrollbar {
  width: 1rem;
  right: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3cb4ac;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #147b74;
}

/************************/
/* PLEDGE PART */
/************************/

/* INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input {
  position: relative;
}

.input-pledge {
  padding: 2rem 3rem;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 100px;
  border: 1px solid #dbdbdb;
  width: 15rem;
  position: relative;
  display: block;
}

.input-pledge:focus,
.input-pledge:active,
.input-pledge:focus-visible {
  border: 1px solid #3cb4ac;
  outline: none;
  position: relative;
  display: block;
}

.dollar-sign {
  position: absolute;
  content: "";
  top: 41%;
  left: 1.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  transform: translate(0, -25%);
  color: #808080;
}

/* END INPUT */

.enter-pledge {
  grid-column: 1 /-1;
  margin-top: 3rem;
  border-top: 1px solid #dbdbdb;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enter-pledge .enter-group {
  display: flex;
}

.enter-pledge .input-pledge {
  width: 10rem;
  margin-right: 2rem;
}

.enter-pledge .input {
  margin-left: auto;
}

.enter-pledge p {
  margin: 0;
}

/************************/
/* QUERIES */
/************************/
@media (max-width: 510px) {
  .modal-complete {
    width: 90% !important;
  }

  .modal-support {
    width: 92% !important;
    grid-template-columns: 1fr 0.5rem;
  }

  .modal-card {
    row-gap: 2rem;
  }

  .modal-card .description {
    grid-column: 1 /-1;
  }

  .pledge-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .pledge-group .pledge {
    margin: 0;
  }

  .modal-card p {
    grid-column: 1 / span 2;
    margin: 0;
  }

  .modal-card .right-side {
    grid-row: 3;
  }
  .modal-card .right-side .left-number {
    margin-right: 1rem;
  }

  .enter-pledge {
    flex-direction: column;
    gap: 2rem;
  }
}
