/************************/
/* DEFAULT MODAL */
/************************/

.modal-frame.show {
  opacity: 1;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.modal-frame {
  opacity: 0;
  transition: all 0.3s;
}

/************************/
/* COMPLETE MODAL */
/************************/
.modal-frame .modal-complete {
  left: 50%;
  top: -500px;
  transform: translate(-50%, -50%);
  transition: all 0.3s;

  position: absolute;
  content: "";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  max-width: 50rem;
  padding: 4rem;
  border-radius: 12px;
}

.modal-frame.show .modal-complete {
  top: 50%;
}

.checked-icon {
  margin-bottom: 3.5rem;
}

.modal-complete h3 {
  font-size: 2.3rem;
}

.modal-complete p {
  font-size: 1.5rem;
  color: #808080;
  line-height: 1.6;
  margin: 2rem 0;
  text-align: center;
}

.modal-complete .btn {
  width: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

/************************/
/* SUPPORT MODAL */
/************************/
.modal-frame .modal-support {
  left: 50%;
  top: -500px;
  transform: translate(-50%, -50%);
  transition: all 0.3s;

  position: absolute;
  content: "";
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: #fff;
  max-width: 50rem;
  padding: 4rem;
  border-radius: 12px;
}

.modal-frame.show .modal-support {
  max-width: 70rem;
  width: 100%;
  top: 50%;
}

.modal-support {
  display: grid;
  grid-template-columns: 1fr 1.5rem;
  row-gap: 2.5rem;
}

.close-modal-icon {
  grid-column: 2/-1;
}

.modal-support h3 {
  grid-column: 1 / span 1;
  font-size: 2rem;
}

.modal-support p {
  grid-column: 1 / span 1;
  margin: 2rem 0;
  font-size: 1.5rem;
  color: #808080;
}

/* CARD */
.modal-card {
  grid-column: 1;
  padding: 2rem 3rem;
  border-radius: 12px;
  border: 1px solid #dbdbdb;
}

/* RADIO BUTTON */
.radio-btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-btn-style {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}

.radio-btn input:checked + .radio-btn-style::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #3cb4ac;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
/* RADIO BUTTON */

.modal-card-row {
  display: flex;
  align-items: center;
}

.modal-card-row {
  font-size: 1.5rem;
}

.modal-card-row .radio-btn {
  margin-right: 2rem;
}

.modal-card-row .pledge {
  margin: 0 2.5rem;
  color: #3cb4ac;
}

.modal-card-row .left-number {
  margin-left: auto;
}
