@media (max-width: 510px) {
  /************************/
  /* NUMBERS SECTION */
  /************************/
  .numbers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .progress-bar {
    margin-top: 0;
  }

  .number-borders {
    border: none;
  }

  .lines {
    width: 20%;
    border: 1px solid #dbdbdb;
  }

  /************************/
  /* CARD SECTION */
  /************************/
  .card {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .card-heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
  }

  .card-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.5rem;
  }
}
