/************************/
/* GUIDE */
/************************/
/*
Border color: #dbdbdb;
Primary color: 
- default: #3cb4ac
- active: #147b74


*/
/************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Commissioner", sans-serif;
  color: #000;
  background-color: #f7f7f7;
}

/************************/
/* HEADER SECTION */
/************************/
.container {
  max-width: 144rem;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header img {
  width: 100%;
}

.main-menu {
  position: absolute;
  width: 100%;
  content: "";
  top: 5.5rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15rem;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.8px;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #fff;
  text-decoration: none;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 1px solid #fff;
}

/************************/
/* GLOBAL SECTION */
/************************/
.section {
  background-color: #fff;
  padding: 5rem 5rem 3.5rem 5rem;
  width: 100%;
  max-width: 70rem;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 2rem;
}

.btn {
  padding: 2rem 3rem;
  border-radius: 100px;
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  width: 16.3rem;
}

.btn:active {
  background-color: #147b74;
}

.btn {
  background-color: #3cb4ac;
  color: #fff;
  transition: all 0.3s;
}

.btn:disabled {
  background-color: rgba(128, 128, 128);
  cursor: default;
}

.disabled {
  opacity: 40%;
}

/************************/
/* HEADIN SECTION */
/************************/

.heading-section {
  position: relative;
  margin-top: -10rem;
}

.brand-logo {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.heading-section h1 {
  font-size: 2.5rem;
  letter-spacing: 0px;
  text-align: center;
}

.heading-section p {
  color: #808080;
  font-size: 1.2rem;
  margin: 2rem 0 4rem 0;
  letter-spacing: 1px;
  text-align: center;
}

.heading-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-btn {
  width: 20rem;
}

/* SWITCH */
.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  width: 20rem;
  height: 5.76rem;
  background-color: #f9f9f9;
  border-radius: 100px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.bookmark {
  padding-left: 4rem;
  color: #808080;
}

input:checked + .bookmark {
  color: #147b74;
}

input + .bookmark + .bookmark-icon circle,
input + .bookmark + .bookmark-icon path {
  transition: all 0.3s;
}

input:checked + .bookmark + .bookmark-icon circle {
  fill: #147b74;
}

input:checked + .bookmark + .bookmark-icon path {
  fill: #fff;
}

.bookmark-icon {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
/* END SWITCH */

/************************/
/* NUMBERS SECTION */
/************************/
.numbers-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.numbers-part {
  justify-self: center;
}

.numbers-section-bigger-number {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.numbers-section-lower-number {
  font-size: 1.5rem;
  color: #808080;
}

.number-borders {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.total-backers-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  margin-top: 4rem;
  border-radius: 100px;
  height: 1.5rem;
  background-color: #f9f9f9;
  width: 100%;
  grid-column: 1 / span 3;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: #147b74;
  width: 85%;
  border-radius: 100px;
}

/************************/
/* ABOUT SECTION */
/************************/
h2,
h3 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  margin-bottom: 4rem;
}

.about-section-description {
  font-size: 1.5rem;
  color: #808080;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

/************************/
/* CARD SECTION */
/************************/
.card-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  border-radius: 12px;
  border: 1px solid #dbdbdb;
  padding: 3rem;
}

.card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pledge {
  color: #3cb4ac;
  font-size: 1.5rem;
  font-weight: 500;
}

.card-description {
  margin: 2.5rem 0;
  font-size: 1.5rem;
  color: #808080;
  line-height: 1.8;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-number-left {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.card-number-left span {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #808080;
  font-weight: 500;
}
