* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Commissioner", sans-serif;
  color: #000;
  background-color: #f7f7f7;
}

/************************/
/* HEADER SECTION */
/************************/
.container {
  max-width: 144rem;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header img {
  width: 100%;
}

/************************/
/* HEADER MENU */
/************************/
.navbar {
  position: absolute;
  content: "";
  top: 4rem;
  left: 0;
  padding: 0 15rem;
  width: 100%;
}

.navbar-logo {
  color: #fff;
  font-size: 2.5rem;
  user-select: none;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  width: 100%;
  align-items: center;
}

.menu-part {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}

.navbar li {
  list-style-type: none;
  margin: 1rem;
}

.navbar-links {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-links:hover {
  border-bottom: 1px solid #fff;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar-toggle {
  display: none;
}

.hamburger-icon {
  width: 5rem;
  stroke: #fff;
}

@media (max-width: 1000px) {
  .menu-part {
    flex-direction: column;
  }
  .navbar {
    padding: 0 3rem;
  }

  .navbar ul {
    align-items: start;
  }

  .navbar-toggle {
    display: block;
    text-align: right;
  }

  .navbar-toggle svg {
    cursor: pointer;
  }

  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }

  .menu-part.active {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
  }

  .active {
    display: flex;
    justify-content: center;
  }
}

/************************/
/* GLOBAL SECTION */
/************************/
.section {
  background-color: #fff;
  padding: 5rem 5rem 3.5rem 5rem;
  width: 100%;
  max-width: 70rem;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin: 0 2rem;
}

.btn {
  padding: 2rem 3rem;
  border-radius: 100px;
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  width: 16.3rem;
}

.btn:active {
  background-color: #147b74;
}

.btn {
  background-color: #3cb4ac;
  color: #fff;
  transition: all 0.3s;
}

.btn:disabled {
  background-color: rgba(128, 128, 128);
  cursor: default;
}

.disabled {
  opacity: 40%;
}

/************************/
/* HEADING SECTION */
/************************/

.heading-section {
  position: relative;
  margin-top: -10rem;
}

.brand-logo {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.heading-section h1 {
  font-size: 2.5rem;
  letter-spacing: 0px;
  text-align: center;
}

.heading-section p {
  color: #808080;
  font-size: 1.2rem;
  margin: 2rem 0 4rem 0;
  letter-spacing: 1px;
  text-align: center;
}

.heading-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-btn {
  width: 20rem;
}

/* SWITCH */
.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  width: 20rem;
  height: 5.76rem;
  background-color: #f9f9f9;
  border-radius: 100px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.bookmark {
  padding-left: 4rem;
  color: #808080;
}

input:checked + .bookmark {
  color: #147b74;
}

input + .bookmark + .bookmark-icon circle,
input + .bookmark + .bookmark-icon path {
  transition: all 0.3s;
}

input:checked + .bookmark + .bookmark-icon circle {
  fill: #147b74;
}

input:checked + .bookmark + .bookmark-icon path {
  fill: #fff;
}

.bookmark-icon {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
/* END SWITCH */

/************************/
/* NUMBERS SECTION */
/************************/
.numbers-section {
  display: grid;
  grid-template-columns: 1fr 5px 1fr 5px 1fr;
}

.numbers-part {
  justify-self: center;
}

.numbers-section-bigger-number {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.numbers-section-lower-number {
  font-size: 1.5rem;
  color: #808080;
}

.number-borders {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.total-backers-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  margin-top: 4rem;
  border-radius: 100px;
  height: 1.5rem;
  background-color: #f9f9f9;
  width: 100%;
  grid-column: 1 / -1;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: #147b74;
  width: 85%;
  border-radius: 100px;
}

/************************/
/* ABOUT SECTION */
/************************/
h2,
h3 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  margin-bottom: 4rem;
}

.about-section-description {
  font-size: 1.5rem;
  color: #808080;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

/************************/
/* CARD SECTION */
/************************/
.card-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  border-radius: 12px;
  border: 1px solid #dbdbdb;
  padding: 3rem;
}

.card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pledge {
  color: #3cb4ac;
  font-size: 1.5rem;
  font-weight: 500;
}

.card-description {
  margin: 2.5rem 0;
  font-size: 1.5rem;
  color: #808080;
  line-height: 1.8;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-number-left {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.card-number-left span {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #808080;
  font-weight: 500;
}
